.footer{
    width: 100%;
    display: flex;
    align-items: center;
    
    
&__info {
    display: flex;
    align-items: center;
    margin-right: 150px;
    font-size: 12px;
    padding-right: 10px;
    }
   
}
.socials {
    display: flex;
    align-items: center;
    margin-right: 150px;

    &__img {
        width: 40px;
        height: 40px;
        margin-right: 3px;
    }
}
.paymentMethods{
    width: 700px;
    height: 50px;
}